.nosotrossec{
    
}

.imgnosotros{
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 30px;
    
}

.imgnosotros img{
    box-sizing: content-box;
    width: 700px;
    height: auto;
    


}

.texto{
    color: #D9D9D9;
}

.quienes{
    padding: 8px;
    margin: 10px;
    text-align: center;
    color: #a03d0c;
}

.vision{
    padding: 5px;
    margin: 10px;
    text-align: center;
    color: #a03d0c;
}

.mision{
    padding: 5px;
    margin: 10px;
    text-align: center;
    color: #a03d0c;
}

p{
    padding: 15px;
    margin: 15px;
    
    
}